<!-- index -->
<div class="container">

  <div id="flow">
      <span class="flow-1"></span>
      <span class="flow-2"></span>
      <span class="flow-3"></span>
  </div>

  <div class="section">

    <div class="box">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input has-text-centered" type="search" placeholder="SEARCH">
        </div>
        <div class="control">
          <a class="button is-info" href="/articles?search=dcl">
            Search
          </a>
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="row columns">

      <div class="column">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">newest articles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Newest -->
    <div class="row columns">

      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">Uplifting</p>
                <p class="title is-5 no-padding">Article Title</p>
                <p class="subtitle is-6"><em>Author Name</em><br>
                  <small>Org Title/Role/Relationship</small>
                </p>
              </div>
            </div>
            <div class="content">
              The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
              <div class="background-icon"><span class="icon-twitter"></span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">Abuse</p>
                <p class="title is-5 no-padding">Article Title</p>
                <p class="subtitle is-6"><em>Author Name</em><br>
                  <small>Org Title/Role/Relationship</small>
                </p>
              </div>
            </div>
            <div class="content">
              The soul of the Beast seemed lost forever. Then, by the full moon's light, a child was born; child with the unbridled soul of the Beast that would make all others pale in comparison.
              <div class="background-icon"><span class="icon-facebook"></span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">Apology</p>
                <p class="title is-5 no-padding">Article Title</p>
                <p class="subtitle is-6"><em>Author Name</em><br>
                  <small>Org Title/Role/Relationship</small>
                </p>
              </div>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
              <div class="background-icon"><span class="icon-barcode"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newest -->

    <!-- Older -->
    <div class="row columns">

      <div class="column">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">older articles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row columns">

      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5 no-padding">Uplifting</p>
              </div>
            </div>
            <div class="content">
              <p><strong>Uplift Article Title 1</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Uplift Article Title 2</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Uplift Article Title 3</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Abuse</p>
              </div>
            </div>
            <div class="content">
              <p><strong>Sex Article Title 1</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Sex Article Title 2</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Sex Article Title 3</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Sex Article Title 4</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Apology</p>
              </div>
            </div>
            <div class="content">
              <p><strong>Apology Title 1</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Apology Title 2</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
              <p><strong>Apology Title 3</strong><br>
                <small>
                  <em>Author Name</em><br>
                  One line Article Summary ...
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Older -->

  </div>  <!-- Section -->

</div>
