<!-- mine -->
<h1>My Articles</h1>

<div class="container">

  <div class="section">

    <div class="column is-10 is-offset-1">

      <div class="box content">

        <article class="post">
          <div class="media">
            <div class="media-left">
              <p class="text">
                In Review
                <br>
                <span class="tag">Apology</span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p><strong>Article Title 1</strong><br>
                  The first 100 characters summary
                </p>
              </div>
            </div>
          </div>
        </article>
        <hr style="margin: 0.6rem 0rem 0.6rem 0rem">

        <article class="post">
          <div class="media">
            <div class="media-left">
              <p class="text">
                Blocked
                <br>
                <span class="tag">Uplift</span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p><strong>Article Title 2</strong><br>
                  The first 100 characters summary
                </p>
              </div>
            </div>
            <div class="media-right">
              <p class="text">
                <small>Reason</small>
                <br>
                <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
              </p>
            </div>
          </div>
        </article>
        <hr style="margin: 0.6rem 0rem 0.6rem 0rem">

        <article class="post">
          <div class="media">
            <div class="media-left">
              <p class="text">
                Posted
                <br>
                <span class="tag">Abuse</span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p><strong>Article Title 3</strong><br>
                  The first 100 characters summary
                </p>
              </div>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
