<!-- new -->
<div class="column is-full">
  <h3 class="title has-text-grey">Create Article</h3>
  <p class="subtitle has-text-grey">Fill out the form to create a new Article.</p>

  <%= render 'form', article: @article %>

</div>
