<div class="container">

  <div class="section">

    <!-- title -->
    <div class="row columns">

      <div class="column">
        <div class="card large">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-5 no-padding">Category: <strong>Apology</strong></p>
                <br>
                <p class="title is-3 no-padding">Article Title</p>
                <p class="title is-5">Person's Name<br>
                <p class="subtitle is-5"><em>Org Title/Role/Relationship</em></p>
              </div>
            </div>

            <div class="content">
              The Beast stumbled in the dark for it could no longer see the path. It started to fracture and weaken, trying to reshape itself into the form of metal. Even the witches would no longer lay eyes upon it, for it had become hideous and twisted.
              <div class="background-icon"><span class="icon-twitter"></span></div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>  <!-- Section -->

</div>
